<div *ngIf="isLoading$ | async" style="position: fixed;  z-index: 2;  width: 100%;">
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
          #drawer
          class="sidenav"
          fixedInViewport
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'"
          [opened]="(isHandset$ | async) === false">
    <div class="nav-logo">
      <a routerLink="/" href="#" style="display: flex; justify-content: center; margin-top: 15px; margin-bottom: 10px;">
        <div>
          <img width="54px" src="../../assets/icons/icon.svg" alt="Logo"/>
        </div>
        <div style="display: flex; align-items: center; margin-left: 5px;">
          <span style="font-weight: 300; font-size: 14px;">CatProgress</span>
        </div>
      </a>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="list-item-active" routerLink="/" href="#">
        Dashboard
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/calendar" href="#">
        Calendar
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/habits" href="#">
        Habits
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/categories" href="#">
        Categories
      </a>
      <a href="#" mat-list-item routerLink="/projects" routerLinkActive="list-item-active">
        Projects
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div id="navTitle"></div>

      <span class="spacer"></span>
      <button *ngIf="profileService.profileResponse | async as profileResponse" [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu" mat-icon-button>
        <img *ngIf="profileResponse.profile.avatarSrc" alt="Avatar" src="{{ profileResponse.profile.avatarSrc }}"
             style="border-radius: 100%;" width="100%"/>

        <mat-icon
                *ngIf="!profileResponse.profile.avatarSrc"
                aria-hidden="false"
                aria-label="Example home icon"
        >person
        </mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile/edit">
          <mat-icon>person</mat-icon>
          <span>Edit profile</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
