{% extends 'cabinet/main.html.twig' %}

{% block title %}Create habit{% endblock %}

{% block content %}
    <div class="mx-5 mt-5">
        <div>
            <h3>Create habit</h3>
            {% include 'cabinet/habit/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
