<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - CatProgress</title>
        <link rel="icon" type="image/svg+xml" href="{{ asset('/icon.svg') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-light">
        {% block body %}{% endblock %}
        {% block bottom_js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
