{% extends 'cabinet/base.html.twig' %}

{% block body %}
    <div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-4 mt-5 card p-4">
                    <div class="text-center">Confirm you E-Mail: {{ email }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}