<div class="container">
    <mat-card style="margin-bottom: 10px">
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
            <div>
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>E-Mail</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </div>

            <div *ngIf="error">
                <mat-error>{{ error }}</mat-error>
                <br/>
            </div>

            <div class="button-wrapper">
                <button mat-flat-button [disabled]="loginForm.invalid || loginForm.disabled" color="primary">Login</button>
            </div>
        </form>
    </mat-card>

    <mat-card>
        New to CatProgress? <a routerLink="/registration" href="#">Create an account</a>
    </mat-card>
</div>
