<div style="margin-bottom: -4px;" *ngIf="isLoading">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>

<div class="container">

    <div *ngIf="overview; else loading">

        <mat-card style="padding: 0">

            <div style="padding: 10px">
                <h4>
                    Active tasks ({{ overview.activeTasks.length }})
                </h4>
                <div>
                    <div style="margin-bottom: -20px;">
                        <form [formGroup]="addTaskForm" (ngSubmit)="addTaskSubmit()" novalidate>
                            <mat-list-item>
                                <div mat-line>
                                    <mat-form-field appearance="outline" class="full-width-field">
                                        <mat-label>Add task</mat-label>
                                        <input matInput placeholder="Add task" formControlName="title">
                                    </mat-form-field>
                                </div>
                            </mat-list-item>
                        </form>
                    </div>
                </div>
            </div>

            <mat-card-content>
                <div *ngIf="overview.activeTasks.length === 0">No tasks</div>
                <mat-list>
                    <mat-list-item
                            class="mp-list-item"
                            *ngFor="let task of overview.activeTasks; last as last">
                        <div mat-line style="padding-left: 10px;">
                            <button
                                    class="hover-icon-switch"
                                    mat-icon-button
                                    (click)="$event.stopPropagation(); completeTask(task.id)"
                            >
                                <mat-icon class="mat-24 hover-icon-switch_on-non-hover">radio_button_unchecked
                                </mat-icon>
                                <mat-icon
                                        class="mat-24 hover-icon-switch_on-hover"
                                        style="display: none;">
                                    check_circle_outline
                                </mat-icon>
                            </button>
                            <span>{{ task.title }}</span>
                        </div>
                        <button mat-icon-button (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="openTaskDialog(task)" mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button (click)="deleteTask(task.id)" mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>

                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <br/>

        <mat-card>
            <mat-card-title>
                <div style="display: flex; justify-content: space-between;">

                    Habits ({{ habitsDate.format('dddd, DD') }})
                    <div style="height: 0">
                        <a
                                href="#"
                                (click)="decrementHabitsDay()"
                                mat-icon-button color="primary"
                                aria-label="Example icon button with a home icon"
                        >
                            <mat-icon>arrow_left</mat-icon>
                        </a>
                        <a
                                href="#"
                                (click)="incrementHabitsDay()"
                                mat-icon-button color="primary"
                                aria-label="Example icon button with a home icon"
                        >
                            <mat-icon>arrow_right</mat-icon>
                        </a>
                    </div>

                </div>
            </mat-card-title>

            <mat-card-content>
                <div *ngIf="overview.habits.length === 0">No habits</div>
                <mat-list>
                    <mat-list-item
                            class="mp-list-item"
                            *ngFor="let habit of overview.habits; last as last">
                        <div mat-line>
                            <button
                                    class="hover-icon-switch"
                                    *ngIf="habit.completions.length === 0"
                                    mat-icon-button
                                    (click)="$event.stopPropagation(); completeHabit(habit.id)"
                            >
                                <mat-icon class="mat-24 hover-icon-switch_on-non-hover">radio_button_unchecked
                                </mat-icon>
                                <mat-icon
                                        class="mat-24 hover-icon-switch_on-hover"
                                        style="display: none;">
                                    check_circle_outline
                                </mat-icon>
                            </button>

                            <button
                                    class="hover-icon-switch"
                                    *ngFor="let completion of habit.completions"
                                    mat-icon-button
                                    (click)="incompleteHabit(habit.id, completion.id)"
                            >

                                <mat-icon class="mat-24 hover-icon-switch_on-non-hover">check_circle_outline</mat-icon>
                                <mat-icon
                                        class="mat-24 hover-icon-switch_on-hover"
                                        style="display: none;">
                                    radio_button_unchecked
                                </mat-icon>
                            </button>

                            <span *ngIf="habit.completions.length > 0"><s>{{ habit.title }}</s></span>
                    <span *ngIf="habit.completions.length === 0">{{ habit.title }}</span>

                    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </div>

                <button
                        mat-icon-button
                        (click)="$event.stopPropagation();"
                        [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <button (click)="openTaskDialog(habit)" mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button (click)="deleteTask(habit.id)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>

                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <br/>

        <mat-card>
            <mat-card-title>Completed tasks</mat-card-title>

            <mat-card-content>
                <div *ngIf="overview.completedTasks.length === 0">No completed</div>
                <mat-list>
                    <mat-list-item
                            class="mp-list-item"
                            *ngFor="let task of overview.completedTasks; last as last">
                        <div mat-line>
                            <button mat-icon-button (click)="$event.stopPropagation(); incompleteTask(task.id)">
                                <mat-icon class="mat-24">check_circle_outline</mat-icon>
                            </button>
                            <span><s>{{ task.title }}</s></span>
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </div>

                        <button mat-icon-button (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="openTaskDialog(task)" mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button (click)="deleteTask(task.id)" mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>

                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #loading>Loading...</ng-template>
