<div class="container">
    <h3>{{ title }}</h3>

    <div *ngIf="form; else loading">

        <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
            <div>
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="Title" formControlName="title">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="2"
                              cdkAutosizeMaxRows="10"
                              placeholder="Description"
                              formControlName="description"></textarea>
                </mat-form-field>
            </div>

            <div>
                <ng-container *ngFor="let color of colors;">
                    <button color="primary" disabled *ngIf="color === selectedColor" type="button" mat-icon-button>
                        <mat-icon [style]="'color: ' + color">radio_button_checked</mat-icon>
                    </button>

                    <button  *ngIf="color !== selectedColor" (click)="selectColor(color)" type="button" mat-icon-button>
                        <mat-icon [style]="'color: ' + color">brightness_1</mat-icon>
                    </button>
                </ng-container>
            </div>
            <br/>

            <div class="button-wrapper">
                <button mat-flat-button [disabled]="form.invalid || form.disabled"
                        color="primary">{{ submitButtonTitle }}</button>
            </div>
        </form>
    </div>
</div>

<ng-template #loading>Loading...</ng-template>
