<div class="container">
    <h3>Task {{ data.task.id }}</h3>
    <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
        <div>
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Description</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"
                          placeholder="Description"
                          formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Project</mat-label>
                <mat-select formControlName="project">
                    <mat-option
                            *ngFor="let project of projects; let i = index"
                            [value]="project.id"
                    >
                        <span>{{ project.title }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="error">
            <mat-error>{{ error }}</mat-error>
            <br/>
        </div>

        <div class="button-wrapper">
            <button mat-flat-button [disabled]="form.invalid || form.disabled" color="primary">Save</button>
        </div>
    </form>
</div>
