{% extends 'mail/base.html.twig' %}
{% block body %}
    <p>To change your password follow the link:</p>
    <p><a href="{{ url('cabinet.reset_password.confirm', { token: token }) }}">Change password</a></p>
{% endblock %}